@model ArticleReadVm

<section class="step-screen step-screen_article">
    <div class="step-screen__content">
        <main class="step-screen__main">
            <div class="markdown step-screen__markdown">
                @Html.Raw(Model.MarkdownContent)
            </div>
            @{
                var link = Url.Action("CompleteStep", "LearningPaths", new
                {
                    learningPathId = Model.LearningPathId,
                    stepId = Model.Id
                });
            }
            @if (Model.NextStep != null)
            {
                <div class="preview-wrapper preview_card">
                    <h4 class="preview__header">Next step...</h4>

                    <article class="preview preview_step">
                        <!-- 🌟 Контейнер основного содержания -->
                        <section class="preview__main">
                            <!-- 🔗 Заголовок с переходом на другой ресурс -->
                            <h4 class="preview__header">
                                @Model.NextStep.Title
                            </h4>

                            <p class="preview__description">@Model.NextStep.Description</p>
                        </section>
                        <!-- 🎨 Медиа-контент карточки -->
                        <a class="preview__aside">
                            <img class="preview__media" src="@Model.NextStep.ImageUrl" alt="Learning path image">
                        </a>
                    </article>

                    <a class="button button_red" href="@link">continue</a>
                </div>
            }
            else
            {
                <a class="button button_red" href="@link">finish</a>
            }
        </main>

        <aside class="step-screen__aside">
            <nav class="card menu">
                <h4 class="menu__title">Your path progress</h4>
                <ul class="menu__list">

                    @* 🔁 Обход шагов и вставка компонента *@
                    @foreach (var step in Model.StepNavs)
                    {
                        @await Html.PartialAsync("_NavStepItem", step)
                    }

                </ul>
            </nav>
        </aside>
    </div>
</section>