@model LearningPathDetailsVm

@{
    ViewData["Title"] = "index";
}

<div class="learning-head-wrapper">
    <section class="learning-head col gap-lg">

        <article class="preview preview_head">
            <!-- 🌟 Контейнер основного содержания -->
            <section class="preview__main">
                <!-- 🏷 Уровень сложности -->
                <div class="preview__tag">
                    <span class="preview__tag-danger">1</span>
                    <span>newbie</span>
                </div>

                <h1 class="preview__header">
                    @Model.Title
                </h1>

                <p class="preview__description">@Model.Description</p>

                <div class="preview__progress-wrapper">
                    @{
                        var action = Model.IsBegining ? "Start" : "Continue";
                        var nextLink = Url.Action(action, "LearningPaths", new { learningPathId = Model.Id });
                    }
                    @if (Model.IsBegining)
                    {
                        <a class="button button_red" href="@nextLink">Start</a>
                        <div class="preview__progress"></div>
                    }
                    else
                    {
                        <a class="button button_blue" href="@nextLink">Continue</a>
                        <div class="preview__progress">
                            <div class="preview__progress-bar" style="--data-percentage: @Model.Completion%;"></div>
                            <div class="preview__progress-percentage">@Model.Completion% completed</div>
                        </div>
                    }
                </div>
            </section>
            <!-- 🎨 Медиа-контент карточки -->
            <aside class="preview__aside">
                <img class="preview__media" src="@Model.ImageUrl" alt="Learning path image">
            </aside>
        </article>
        <section class="row gap-md wrap">
            <article class="card sz-1 col gap-md">
                <h3>✍️ Prerequisites</h3>
                <p>It would be best to have a basic understanding of HTML and CSS. If you still need to learn the
                    fundamentals, we link to some excellent resources inside the path. We recommend starting the path
                    and using the resources to boost your knowledge before tackling the first challenge.</p>
            </article>
            <article class="card sz-1 col gap-md">
                <h3>💭 Learning outcomes</h3>
                <ul>
                    @foreach (var step in Model.Steps)
                    {
                        <li>@step.Title</li>
                    }
                </ul>
            </article>
        </section>
    </section>
</div>

<section class="learning-body-wrapper container">

    <ul class="cource">
        @foreach (var step in Model.Steps)
        {
            var stepLink = step.IsOpen
            ? Url.Action("OpenStep", "LearningPaths", new { learningPathId = Model.Id, stepId = step.Id })
            : "#";

            <li>
                <article class="preview preview_card preview_step">
                    <!-- 🌟 Контейнер основного содержания -->
                    <section class="preview__main">
                        <!-- 🔗 Заголовок с переходом на другой ресурс -->
                        <h3 class="preview__header">
                            <a href="@stepLink">@step.Title</a>
                        </h3>

                        <p class="preview__description">@step.Description</p>

                        @if (step.IsOpen)
                        {
                            <div class="preview__progress">
                                <div class="preview__progress-bar" style="--data-percentage: @step.Completion%;"></div>
                                <div class="preview__progress-percentage">@step.Completion% completed</div>
                            </div>
                        }
                        else
                        {
                            <div class="preview__progress-percentage">🔒 closed</div>
                        }
                    </section>
                    <!-- 🎨 Медиа-контент карточки -->
                    <a class="preview__aside" href="@stepLink">
                        <img class="preview__media" src="@step.ImageUrl" alt="Learning path image">
                    </a>
                </article>
            </li>
        }
    </ul>
</section>